<!doctype html>
<html>
    <head>
        <title>Main page</title>

        <!-- Bootstrap CSS -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    </head>
    <body>
        <h1>Reference tool</h1>
        <form action="/new">
            <input type="submit" value="Create a new reference">
        </form>
        <a href="{{url_for('download')}}"> Download file</a>
        <h3>Book-references</h3>
        <table border=1 class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Key:</th>
              <th scope="col">Title:</th>
              <th scope="col">Author:</th>
              <th scope="col">Year:</th>
            </tr>
          </thead>
          <tbody>
          {% for book in books %}
          <p>
            <tr>
              <td>{{ book[1] }}</td>
              <td>{{ book[2] }}</td>
              <td>{{ book[3] }}</td>
              <td>{{ book[4] }}</td>
            </tr>
          </p>
          {% endfor %}
          </tbody>
        </table>
        <h3>Article-references</h3>
        <table border="1" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Key:</th>
              <th scope="col">Title:</th>
              <th scope="col">Author:</th>
              <th scope="col">Journal:</th>
              <th scope="col">Year:</th>
              <th scope="col">Volume:</th>
              <th scope="col">Pages:</th>
            </tr>
          </thead>
          <tbody>
            {% for article in articles %}
            <p>
              <tr>
                <td>{{ article[1] }}</td>
                <td>{{ article[2] }}</td>
                <td>{{ article[3] }}</td>
                <td>{{ article[4] }}</td>
                <td>{{ article[5] }}</td>
                <td>{{ article[6] }}</td>
                <td>{{ article[7] }}
              </tr>
            </p>
            {% endfor %}
          </tbody>
        </table>
        
        <h3>Remove reference</h3>
        <form action="/remove_reference" method="post">
            Reference key:<br>
            <input type="text" id="refkey" name="refkey"><br><br>
            <input type="submit" value="Remove reference">
        </form>
    </body>
</html>
    
