<!doctype html>
<html>
    <head>
        <title>Main page</title>

        <!-- Bootstrap CSS -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <h1>Reference tool</h1>
        <form action="/new">
            <input type="submit" value="Create a new reference">
        </form>
        <a href="{{url_for('download')}}"> Download file</a>
        {% for ref in references %}
        <br>
        <p>Key: {{ ref[1] }}</p>
        <p>Title: {{ ref[2] }}</p>
        <p>Author: {{ ref[3] }}</p>
        <p>Year: {{ ref[4] }}</p>
        {% endfor %}
    </body>
</html>
    
