<!doctype html>

<html>
<head>
  <title>Add tag</title>     
</head>

<body>
  <h2>Create tag</h2>
  <form action="/create_tag" method="post">
  <label for="tag_name">Tag:</label>
  <input type="text" id="tag_name" name="name">
  <button type="submit">Create tag</button>
  </form>

  <h2>Add tag to book</h2>

  <form action="/add_tag_to_book" method="post">
    <label for="book_key">Book key:</label>
    <input type="text" id="book_key" name="book_key">

    <label for="tag_name">Tag name:</label>
    <input type="text" id="tag_name" name="tag_name">

    <button type="submit">Add tag</button>
  </form>

  <h2>Add tag to book</h2>

  <form action="/add_tag_to_article" method="post">
    <label for="article_key">Article key:</label>
    <input type="text" id="article_key" name="article_key">

    <label for="tag_name">Tag name:</label>
    <input type="text" id="tag_name" name="tag_name">

    <button type="submit">Add tag</button>
  </form>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
  {% endwith %}

</body>
</html>